body{
    font-family: "Montserrat";
}
#title{
    background: #ff4c68;
    color: white;
}
#heading1{
    font-family: "Montserrat";
    font-size: 3rem;
    font-weight: bolder;
     
    line-height: 1.5;
}

p{
    font-size: smaller;
    color: grey;
}
.container-fluid{
    padding: 3% 8%;
}
/***** Navigation bar ******/
.navbar{
padding:0 0  4.5rem;
}

.navbar-brand{
    font-family:  "ubuntu" ;
    font-weight: bold;
    font-size:2.5rem ;
     
}
.nav-item{
    padding: 0 18px;
    font-weight: lighter;
    color: white;
}

i{
    margin-right: 12px;
}

/***** Download Buttons ******/
.btn-download{
    margin: 5% 3% 5% 0 ;
}
/*****   TITLE IMAGE      ******/
.title-img{
    width: 55%;
     
}
/*****   Features section      ******/
#features{
    padding: 10% 15%;
     
}
.feature-box{
    padding: 5%;
    text-align: center;
     

}

.feature-box h3{
   font-size: 20px;
    font-weight: bold;
}
.feature-box p{
    font-size: smaller;
    color: grey;
}
/**********************     ICONS  ***********************************/
.icon {
    color: #ef8172;
    margin-bottom: 1rem;

}
 .icon:hover{
    transform: translateY(-5px);
    transition: 0.3s;
    color: #ff4c68;
}
/************************    TESTIMONIALS   **************************/
#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: white;
    
}
#testimonials h2{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold; 
}

/*slideimages*/
.carousel-item img{
    padding:5%;
}
.carousel-item em{
    position: relative;
    left: -22px;
}
/******************     PRESS        ***************/
#press{
    background-color: #ef8172;
}
.row img{
      padding: 5%;
      
      
}
/***************        Pricing  ***********/
.text{
    text-align: center;
    padding: 7% 15%;
    
}
#pricing{
    padding: 15px;
}
 
.text h2{
    font-size:3rem;
font-weight: bold;
}
/*************         Card        *******************/
.card{
    text-align: center;
    outline: none;
   margin: 2%;
   border: 1px solid ;
   border-radius: 34px;
    
}
.card h3{
    font-weight: bolder;
}
.card:hover{
    transform: translateY(-35px);
    transition: 0.3s;
    color: #ff4c68;
}
 /********       call to action      *******/
 #cta {
     color: white;
     background-color: #ff4c68;
     padding: 7% 11%;
     text-align: center;
 }
 #cta h3{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
}
/************       Footer         *******/
#footer{
    padding: 7% 10%;
    text-align: center; 
}
.fa{
    padding: 1% 3% 3% 3%; 
}

@media (max-width:1028px){
    #title{
        text-align: center;
        
    }
}


@media (max-width:440px){
    #title{
        font-weight: bold;
    }
    #heading1{
    font-size: 32px;     
     }
     #testimonials h2{
        font-size: 1rem;
        line-height: 1.5;
        font-weight: bold; 
    }
    .carousel-item em{
        text-align: center;
       font-size: small;     
        font-weight: lighter;
        left: 2px;

    }
    .row img{
        padding:12%;
        
        
  }
  .text{
    text-align: center;
    padding: 3%;
    
}
.text h2{
    font-size:2em;
font-weight: bold;
}
.card{
   margin-top: 10%;
}
#cta h3{
   
    font-size: 2rem;
       
}
}

